* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-image: url("../assets/backgrounds/endless-constellation.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  border-radius: 10px;
  padding: 20px;
  width: 33.33%;
  height: 100%;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "img name name"
    "img desc desc"
    "content content content";
  margin-top: 20px;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

section img {
  grid-area: img;
  width: 75%;
  border-radius: 100%;
}

section h1 {
  grid-area: name;
  font-size: 3em;
  align-self: center;
}

section h2 {
  grid-area: desc;
  font-size: 1.5em;
  align-self: center;
}

section .tabs {
  grid-area: content;
  font-size: 1.2em;
  align-self: center;
  margin-top: 20px;
}

section .tabs .tabarea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "about projects contact";
}

section .tabs .tab:nth-child(1) {
  padding: 20px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  height: 100px;
  grid-area: about;
}

section .tabs .tab:nth-child(2) {
  padding: 20px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  height: 100px;
  grid-area: projects;
}

section .tabs .tab:nth-child(3) {
  padding: 20px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  height: 100px;
  grid-area: contact;
}

section .tabs .tab:hover {
  background-color: rgb(0, 0, 0);
}

section .tabs .content {
  display: none;
  grid-area: content;
  height: 300px;
  overflow-y: scroll;
}

section .tabs .content::-webkit-scrollbar {
  width: 10px;
}

section .tabs .content::-webkit-scrollbar-track {
  background: black;
}

section .tabs .content::-webkit-scrollbar-thumb {
  background: rgb(6, 3, 51);
  border-radius: 50px;
}

section .tabs .content::-webkit-scrollbar-thumb:hover {
  background: rgba(1, 81, 85, 0.8);
}

section .tabs .content .scrollable {
  margin: 20px;
}
section .tabs .content h3 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

section .tabs .content h4 {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

section .tabs .content .project {
  background-color: rgba(39, 39, 39, 0.5);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
}

section .tabs .content .project a {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: rgb(112, 112, 112);
    color: white;
    border-bottom: solid 4px rgb(88, 88, 88);
    border-radius: 3px;
    transition: .4s;
    margin-top: 10px;
}

section .tabs .content .project a:hover {
    background: rgb(88, 88, 88);
    color: white;
    border-bottom: solid 4px rgb(112, 112, 112);
    text-decoration: none;
}

section .tabs .content .project a:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

#About {
  background-color: rgba(0, 0, 0, 0.5);
}

#Projects {
  background-color: rgba(0, 0, 0, 0.5);
}

#Contact {
  background-color: rgba(0, 0, 0, 0.5);
}

.email {
  text-decoration: underline;
  color: white;
}

.socials {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 33.33%;
    margin: 20px;
    border-radius: 10px;
}

.socials a {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    transition: .4s;
    margin-top: 10px;
}